/* CSS Variables */
:root {
    --dark-text: #858688;
    --extra-dark-text: #333333;
    --dark-button: #436ee4;
    --dark-button-hover: #0e2ee0;
    --background: #3d3d41;
    --page-background: #ffffff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --invalid: red;
    --error-code: aqua;
}

.nav-bar-logo {
    width: 200px;
}

.col-xl-3 {
    background: var(--background);
    padding: 1rem;
    border-radius: 5px;
    margin: 10px;
}

.col-xl-3 > a > h1 {
    color: white !important;
    font-size: 3rem;
    object-fit: contain;
}

.col-xl-3 > a > h2 {
    color: var(--dark-text) !important;
    font-size: 1.5rem;
    object-fit: contain;
}

.col-xl-3:hover {
    opacity: 0.9;
}

.class-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
}

.class-name {
    padding-left: 1em;
}

.class-name > h1 {
    font-size: 4rem;
    color: var(--dark-text);
}

.class-name > h2 {
    font-size: 2rem;
    color: var(--extra-dark-text);
}

.classCode-label {
    color: var(--extra-dark-text);
}

.classCode-text {
    border-radius: 3px 0 0 3px;
    border: none;
    color: #ffffff;
    background: var(--background);
    float: left;
    width: auto;
    padding: 0.5rem;
}

.classCode-button {
    border-radius: 0 3px 3px 0;
    border: none;
    float: left;
    color: white;
    background: var(--dark-button);
    padding: 0.5rem;
    outline: none;
}

.list-heading {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--dark-button);
    margin-left: 1rem;
}

.classCode-button:hover {
    background: var(--dark-button-hover);
    border: none;
    outline: none;
}

.classCode-button:focus {
    border: none;
    outline: none;
    box-shadow: none !important;
}

.invite-code {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

.nav-link {
    color: var(--dark-text);
}

.nav-link:hover {
    color: #ffffff;
}

.navbar-toggler {
    background: var(--dark-button);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:hover {
    opacity: 0.8;
}

.navbar.navbar-expand-md {
    background: var(--background);
    margin: 0%;
    border-radius: 5px;
}

.cat {
    margin-top: 2em;
    width: 100%;
    align-self: center;
}

.Warning {
    align-self: center;
    margin-top: 2em;
    max-height: 500px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    grid-template-columns: 1fr;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: fixed;
    padding-right: 70px;
}

.head {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.error-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    padding-top: 1em;
}

.error-info > h1 {
    font-size: 10em;
    color: var(--error-code);
}

.error-info > p, h3, h2 {
    align-self: center;
    color: var(--dark-text);
}

.non-fixed {
    position: relative;
}

.col {
    max-width: 550px;
    background: var(--background);
    padding: 2em;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.submit {
    width: 100%;
    background: var(--dark-button);
}

.submit:hover {
    background: var(--dark-button-hover);
}

.form-label > h6 {
    font-size: 0.8rem;
    line-height: 0;
    color: var(--dark-text);
}

.form-label.invalid > h6 {
    color: var(--invalid);
}

.col > h3 {
    text-align: center;
    color: #ffffff;
}

.col > h5 {
    text-align: center;
    color: var(--dark-text);
}

.sign-up {
    color: var(--dark-text);
}

.header > a > img {
    max-width: 200px;
}

a {
    color: var(--dark-button);
}

a:hover {
    text-decoration: none;
    color: var(--dark-button-hover);
}

.form-control.invalid {
    border-color: var(--invalid);
}

.form-control.invalid:focus {
    border-color: var(--invalid);
}

@media(max-width: 720px) {
    .header {
        align-items: center;
    }

    .class-layout {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .nav-bar-logo {
        width: 150px !important;
    }
}

@media(max-width: 900px) {
    .head {
        grid-template-columns: 1fr;
        margin: 4em;
        margin-top: 1em;
    }
}
