{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block body %}

<div class="wrapper">
  <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="/"><img class="nav-bar-logo" src="/static/logo.svg" alt=""></a>
      <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
          </ul>
      </div>
  </nav>
</div>

{% endblock %}