{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="header">
        <img src="/static/logo.svg" alt="Studinger Logo">
    </div>
    <div class="header non-fixed">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <h3>Welcome Back!</h3>
                <h5>Glad to see you again!</h5>
                <form action="/login" autocomplete="off" method="POST">
                    <div class="mb-3">
                        {% if error == "username" %}
                        <label for="email" class="form-label invalid"><h6>USERNAME <i>- This field is mandatory</i></h6></label>
                        <input type="text" class="form-control invalid" id="email" name="username">
                        {% elif error == "invalid" %}
                        <label for="email" class="form-label invalid"><h6>USERNAME <i>- Invalid username and/or password</i></h6></label>
                        <input type="text" class="form-control invalid" id="email" value="{{ username }}" name="username">
                        {% else %}
                        <label for="email" class="form-label"><h6>USERNAME</h6></label>
                        <input type="text" class="form-control" value="{{ username }}" id="email" name="username">
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% if error == "password" %}
                        <label for="pwd" class="form-label invalid"><h6>PASSWORD <i>- This field is mandatory</i></h6></label>
                        <input type="password" class="form-control invalid" id="pwd" name="password">
                        {% elif error == "invalid" %}
                        <label for="pwd" class="form-label invalid"><h6>PASSWORD <i>- Invalid username and/or password</i></h6></label>
                        <input type="password" class="form-control invalid" id="pwd" value="{{ password }}" name="password">
                        {% else %}
                        <label for="pwd" class="form-label"><h6>PASSWORD</h6></label>
                        <input type="password" class="form-control" id="pwd" value="{{ password }}" name="password">
                        {% endif %}
                    </div>
                    <input type="submit" value="LOGIN" class="btn btn-primary submit">
                </form>
                    <div class="sign-up">
                        New to Studinger?
                        <a href="/signup">Sign up</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}