{% extends "layout.html" %}

{% block title %}
   PDF viewer
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

   .download {
    position: fixed;
    background-color: DodgerBlue;
    border: none;
    color: white;
     padding: 12px 30px;
     right:10px;
    top:30px;
    font-size: 15px;
    }
      #canvas-container{
        text-align: center;
      }
      .previous{
        font-size: 50px;
        position: fixed;
        background-color: rgb(255, 165, 30);
        border: none;
        left:10px;
        top:200px;
        width: 50px;

      }
      .next{
        font-size: 50px;
        background-color: rgb(255, 165, 30);
        position: fixed;
        border: none;
        right:10px;
        top:200px;
        width: 50px;
      }
      .page{
        text-align: center;
        color: antiquewhite;
        font-size: 20px;
      }
      .zoom{
        font-size:30px;
        position: fixed;
        background-color: rgb(255, 165, 30);
        outline: none;
        width: 52px;
        left:10px;
        top:260px;
      }
      .zoom1{
        font-size:30px;
        position: fixed;
        background-color: rgb(255, 165, 30);
        outline: none;
        width: 51px;
        right:10px;
        top:260px;
      }
    </style>
{% endblock%}
{% block body %}
<div >
  <button class="previous" id="previous">
    &laquo;
  </button>
  <button class="next" id="next">
    &raquo;
  </button>
  <button class="zoom" id="zoom">
    +
  </button>
  <button class="zoom1" id="zoomout">
    -
  </button>
  <div class="page">
  <span >
    Page <span id="num"></span> of <span id="total"></span>
  </span></div>
</div>
<a id="a" ><button class="download" onclick="download()"><i class="fa fa-download"></i></button></a>
 
<div id="canvas-container">
    <canvas  id="pdf"> </canvas>
      </div>
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script>var url = "{{ link }}";
    document.body.style.backgroundColor = '#333';
    let pdfDoc = null;
     var number = 1;
     var pageNumIsPending = null;
    
     var a = document.getElementById('a');
     a.href = url;
     a.download =url;
    
    var  pdfscale = 1.5;
     var canvas = document.getElementById('pdf')
     var ctx = canvas.getContext('2d');
    
    
    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    if (isMobile) {
      pdfscale = 0.61;
    }
    const userAgent = navigator.userAgent.toLowerCase();
    const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
    if(isTablet)  {
      pdfscale = 0.7;
    }
    var scale2 = pdfscale;
    
    function renderPage(n) {
    
        var scale = pdfscale;
        pdfDoc.getPage(n).then(function (page) {
                // Set scale
                const viewport = page.getViewport({ scale });
                canvas.height = viewport.height;
                canvas.width = viewport.width;
    
                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };
    
                page.render(renderCtx).promise.then(() => {
    
                    if (pageNumIsPending !== null) {
                        renderPage(pageNumIsPending);
                        pageNumIsPending = null;
                    }
                });
    
                document.getElementById('num').textContent = n;
            });
    }
    
    
    function previous() {
        if (number <= 1) {
            return;
        }
        number--;
        renderPage(number);
    }
    
    function Next() {
        if (number >= pdfDoc.numPages) {
            return;
        }
        number++;
        renderPage(number);
    }
    function zoomin(){
        pdfscale = pdfscale + 0.25;
        renderPage(number);
      }
    
      function zoomout(){
        if(pdfscale <= scale2){
          return;
        }
        pdfscale = pdfscale - 0.25;
        renderPage(number);
      }
      function checkkey(key){
        if(key.keyCode === 39)
         {
           Next();
         }
         else if(key.keyCode === 37)
         {
           previous();
         }
         else if(key.keyCode === 107)
         {
           zoomin();
         }
         else if(key.keyCode === 109)
         {
           zoomout();
         }
         else if(key.keyCode === 79)
         {
           pdfscale = 1.5;
           renderPage(number);
    
         }
       }
    
       pdfjsLib
   .getDocument(url)
   .promise.then(pdfDoc_ => {
     pdfDoc = pdfDoc_;
 
     document.getElementById('total').textContent = pdfDoc.numPages;
 
     renderPage(number);
   })
   .catch(err => {
    var para = document.getElementById('error');
    para.innerHTML = "Ooops,This file can't be processed,instead  ";
    var a = document.createElement("a");
    a.href = url;
    a.download = url;
    a.id = "link";
    a.innerHTML = "DOWNLOAD FROM HERE";

    para.appendChild(a);
    
    document.querySelector('#remove').style.display = 'none';
  });
 
 // Button Events
 document.getElementById('previous').addEventListener('click', previous);
 document.getElementById('next').addEventListener('click', Next);
 document.getElementById('zoom').addEventListener('click', zoomin);
 document.getElementById('zoomout').addEventListener('click', zoomout);
 window.addEventListener("keydown",checkkey);
    
    </script>
{% endblock %}