{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="header">
        <img src="/static/Temp_Logo.png" alt="Studinger Logo">
    </div>
    <div class="header non-fixed">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <h3>Create Account</h3>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label"><h6>USERNAME</h6></label>
                        <input type="text" class="form-control" id="email" name="username">
                    </div>
                    <div class="mb-3">
                      <label for="pwd" class="form-label"><h6>PASSWORD</h6></label>
                      <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    <div class="mb-3">
                      <label for="re-pwd" class="form-label"><h6>CONFIRM PASSWORD</h6></label>
                      <input type="password" class="form-control" id="re-pwd" name="re-password">
                    </div>
                    <input type="submit" value="SIGN UP" class="btn btn-primary submit">
                </form>
                    <div class="sign-up">
                        Already have an account?
                        <a href="/login">Login</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}