{% extends "viewclass_layout.html" %}

{% block subtitle %}
    Upload
{% endblock %}

{% block main %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>Upload Document</h3>
            <form action="/class/{{ code }}/upload" enctype="multipart/form-data" autocomplete="off" method="POST">
                <div class="mb-3">
                    <input type="file" class="form-control" id="fileinput" name="file">
                    <label for="fileinput" class="form-label"><h6>SELECT FILE</h6></label>
                    
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label"><h6>Comment</h6></label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>
                <input type="submit" value="UPLOAD" class="btn btn-primary submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}