{% extends "viewclass_layout.html" %}

{% block subtitle %}
    Upload
{% endblock %}

{% block main %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h3>Upload Document</h3>
            <form action="/class/{{ code }}/upload" enctype="multipart/form-data" autocomplete="off" method="POST">
                <div class="custom-file mb-3">
                
                    {% if error %}
                    <input type="file" class="custom-file-input invalid" id="fileinput" name="file">
                    <label class="custom-file-label invalid" for="fileinput" id="fileLabel"><h6>SELECT FILE <i>- Invalid file</i></h6></label>
                    {% else %}
                    <input type="file" class="custom-file-input" id="fileinput" name="file">
                    <label class="custom-file-label" for="fileinput" id="fileLabel">Choose file</label>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label"><h6>Comment</h6></label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>
                <input type="submit" value="UPLOAD" class="btn btn-primary submit">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#fileinput").on("change", function() {
                let file_name = $(this).val().split("\\");
                $("#fileLabel").html(file_name[file_name.length - 1]);
            });
        });
    </script>
</div>

{% endblock %}