{% extends "viewclass_layout.html" %}

{% block subtitle %}
    About
{% endblock %}

{% block main %}

<div class="class-layout">
        <span class="class-name">
            <h1>{{ class_name }}</h1>
            <h2>{{ subject_name.upper() }}</h2>
        </span>
        <div class="invite-code">
            <label for="code" class="classCode-label">Invite Code</label>
            <br>
            <input disabled type="text" id="code" value="{{ code }}" class="classCode-text">
            <button id="copy-button" title="Copy to Clipboard" class=".btn btn-primary classCode-button">
                <i class="fas fa-clipboard-list"></i>
            </button>
        </div>
</div>
    
    <ul class="list-group list-group-flush">
        <h1 class="list-heading">Members</h1>
        {% for user in users %}
            <li class="list-group-item">{{user['username']}}
                {% if user['username'] == teacher_id %}
                 (Teacher)
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script>
    $(document).ready(function() {
        function CopyText(textToCopy)
        {
        let txtAr = document.createElement('textarea');
        txtAr.value = textToCopy;
        document.body.appendChild(txtAr);
        txtAr.select();
        document.execCommand('copy');
        document.body.removeChild(txtAr);
        }

        $("#copy-button").on('click', function() {
            let textToCopy = $("#code").val();
            CopyText(textToCopy);
            $(this).html("<i class=\"fas fa-clipboard-check\"></i>");
            $(this).css("background-color", "green");
        });
    });
</script>

{% endblock %}